.animate-fade-up(ng-controller="HomeCtrl")
    h1 Jeopardy!
    h4.round-timer(ng-show="showRoundTimer") {{roundTimeRemaining}}

    .pregame-container(ng-show="!gameHasStarted")
        input(type="button" value="Start Game" ng-show="playerIsHost" ng-click="startGame()")
        h3(ng-show="!playerIsHost") Waiting for host to start game.
    .game-container(ng-show="gameHasStarted")

        .score(ng-class="score < 0 ? 'negative' : null") {{score}}
        .timer(ng-show="showTimer") {{timeRemaining}}

        .board(ng-show="categories.length")

            .board-category-row
                .board-category(ng-repeat="category in categories track by $index")
                    span {{category.title}}

            .board-col(ng-repeat="category in categories track by $index")
                .board-item(ng-repeat="question in category.questions track by $index", ng-click="selectQuestion(question)")
                    span(ng-hide="true") {{question.title}}
                    span.points(ng-show="!question.removed  && question.ready") ${{question.points}}
                .clear

            .big-question(ng-show="activeQuestion")
                span {{activeQuestion.title}}

            .big-message(ng-show="bigMessage")
                span {{bigMessage}}

            .final-jeopardy-category(ng-show="finalJeopardyCategory")
                span Category: {{finalJeopardyCategory.title}}

            .final-jeopardy-question(ng-show="showFinalJeopardyQuestion")
                span {{activeQuestion.title}}

            .clear
        
        .players
            .player(ng-repeat="player in players")
                .name {{player.name}}
                .score {{player.score}}

        .buzzer(ng-show="activeQuestion && !buzzedIn", ng-click="buzz()")
            span Buzz In 

        .choices(ng-show="buzzedIn && playerCanAnswer")
            .choice(ng-repeat="answer in activeQuestion.answers track by $index", ng-click="selectAnswer(answer)")
                span {{answer.title}}

    .chat
        h5 room: {{roomName}}
        #messages
            .row(ng-repeat="message in messages")
                span.user [{{message.name}}]: 
                span.message {{message.body}}
        #input
            textarea#message(placeholder="Type message here" ng-model="newMessage")
            input(type="button" value="Send" ng-click="sendChatMessage()")