.animate-fade-up(ng-controller="HomeCtrl")
    h1 Jeopardy!
    h4.round-timer(ng-show="showRoundTimer") {{roundTimeRemaining}}

    .game-container

        .score(ng-class="score < 0 ? 'negative' : null") {{score}}
        .timer(ng-show="showTimer") {{timeRemaining}}

        .board(ng-show="categories.length")

            .board-category-row
                .board-category(ng-repeat="category in categories track by $index")
                    span {{category.title}}

            .board-col(ng-repeat="category in categories track by $index")
                .board-item(ng-repeat="question in category.questions track by $index", ng-click="showQuestion(question)")
                    span(ng-hide="true") {{question.title}}
                    span.points(ng-show="!question.removed  && question.ready") ${{question.points}}
                .clear

            .big-question(ng-show="activeQuestion")
                span {{activeQuestion.title}}

            .big-message(ng-show="bigMessage")
                span {{bigMessage}}

            .final-jeopardy-category(ng-show="finalJeopardyCategory")
                span Category: {{finalJeopardyCategory.title}}

            .final-jeopardy-question(ng-show="showFinalJeopardyQuestion")
                span {{activeQuestion.title}}

            .clear
        
        .buzzer(ng-show="activeQuestion && !buzzedIn", ng-click="buzz()")
            span Buzz In 

        .choices(ng-show="buzzedIn")
            .choice(ng-repeat="answer in activeQuestion.answers track by $index", ng-click="selectAnswer(answer)")
                span {{answer.title}}
            
